body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
} 
header {
    border-bottom: 1px solid seashell;
}

img#logo {
    padding-left: 10px;
    height: 50px;
}